.main-container{
    background-color: rgb(250, 250, 250);
    height: 100vh;
}

.main-up{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-left: 5rem;
    align-items: center;
}
.main-location p{
  color: gray;
  font-size: 0.9rem;
}

.main-mid{
    margin-left: 5rem;
    display: flex;
    padding: 1rem 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-card{
    max-width: 20rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;   
    padding: 2rem 3rem;     
}

.card-text{
   margin-left: 2rem; 
}


.mid-foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.mid-foot .left{
    padding-top: 1rem;
    background-color: white;
    width: fit-content;
    width: -moz-fit-content;
}

.mid-foot .right textarea{
  height: auto;
  height: 17rem;
  border-radius: 0.5rem;
  width: 25rem;
  padding: 0.5rem;
}

.bottom{
    display: flex;
    justify-content: center;
    margin-top:2rem;
}