.main-container{
    background-color: rgb(250, 250, 250);
    height: 100vh;
}

.main-up{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-left: 5rem;
    align-items: center;
}
.main-location p{
  color: gray;
  font-size: 0.9rem;
}

.main-mid{
    margin-left: 5rem;
    display: flex;
    padding: 1rem 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-card{
    max-width: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;   
    padding: 2rem 3.5rem;     
}

.card-text{
   margin-left: 2rem; 
}
